.Container3{
    margin: 20px;
    padding: 0px;
    width:100%;
    height:480px;
    position: relative;
    
   
    
}
.Text{
    position: absolute;
    top:20%;
    left:40px;
    z-index: 10;
    color:white;
    background: transparent;
   
   

}
.h1{
    color:white;
    background: transparent;
    font-size: 4rem;
    font-style: bold;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 3px 3px 15px rgba(0,0,0,0.8);

}
.textbutton{
    
    
    margin: 15px;
    font-style: bold;
    border:none;
    transition:all 0.8s ease-in-out ;
    height:40px;
    width:200px;
}
.wallpaper-kgf{
   
  height:450px;
  width:100%;
  border-radius: 4px;
 
     /* fills banner */
  
}
.description{
    margin-top: 5px; 
    background: transparent;
    font-size: 22px;
    font-style: bold;
    line-height: 1.4;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}
.textbutton:hover{
    transform:scale(1.2);
}
.parent2{
    width:100%;
    height:100%;
    border-radius: 4px;
    object-fit: cover;

}
