
.Parent{
   
    
    background-image: linear-gradient(rgba(0,0,0,0.6)),url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 20px;
    position: relative;

}
.Container{
    background-color:rgba(0, 0, 0, 0.75);
    position: absolute;
    top:200px;
    left:600px;
    align-items: center;
    height:300px;
    width:400px;
    color:white;
    border-radius: 20px;
    margin:10px;
    padding-left: 40px;


}
input{
    background-color:#333;
    font-size: 20px;
    color:white;
    border:none;
    /* It is Used for height */
    padding: 12px;
    border-radius: 4px;
}
button{
    background-color: red;
    color: white;
    font-size:20px;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
input::placeholder{
    color:white;
}
