.nav_bar{
    
    position:sticky;
    top:0px;
    z-index: 1000;
    margin: 20px;
    height:60px;
    width:100%;
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 4px;

}
.Items_bar{
    position:absolute;
    left:320px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-style: bold;
}
.Logo_bar{
    position:absolute;
    left:30px;
    

}
.Search_bar{
    position: absolute;
    right:20px;
    
    font-size:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}
.ul_nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin:5px;
    padding: 5px;
    gap:30px;
}
.image_navbar{
       height: 50px;
       width:250px;
}
.nav_a{
    text-decoration: none;
    color:white;
}
.nav_a:hover{
    color:gold;


}
