.Movie_container{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}
.Movie_image{
    
    position:relative;
    height:300px;
    width:250px;
    border-radius: 20px;
    border:none;

}
.childhover{

    position:absolute;
    align-items: center;
    height:400px;
    width:350px;
    border-radius: 20px;
    border:none;
    z-index: 10;

}
.childhover_image{
    position:absolute;
   
    height: 200px;
    width:350px;
    border-radius: 20px;
    /* It is important for image displays on the image */
    z-index: 10;
    overflow: hidden;
}
.Buttonhover1{
    position: absolute;
    top:200px;
    left:20px;
    width:240px;
    background-color: white;
    color:black;
}
.Buttonhover2{
    position: absolute;
    top:200px;
    left:270px;
    width:60px;
    background-color: white;
    color:black;
}
.Text10{
    position: absolute;
    top:230px;
    left:15px;
    color:white;
    font-style: italic;
    font-size: 20px;
    
}
.Description{
    position: absolute;
    top:270px;
    left:2px;
    color:whitesmoke;
    font-style: italic;
    font-size: 20px;

}